@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

/* NavBar */
.top-bar {
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  font-family: "Josefin", sans-serif;
}

.logo img {
  width: 100px;
}

.nav {
  display: flex;
}

.nav-menu {
  list-style: none;
  margin: 0;
  display: flex;
}

.nav-item:hover {
  font-weight: bold;
}

.request-link {
  background-color: #fff;
  color: #21502c;
  border: 1px solid #21502c;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 20px;
}

.request-link:hover {
  background-color: #21502c;
  color: #fff;
  transition: 0.3s ease;
  cursor: pointer;
}

.nav-item {
  margin-right: 20px;
  padding-top: 5px;
  color: #21502c;
  font-size: 15px;
  cursor: pointer;
  display: flex;
}

.user-initials {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21502c;
  color: #f0f0f0;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 10px;
}

.top-bar .list-init {
  display: flex;
  margin-left: 50px;
}
.list-init .para {
  margin-right: 60px;
  font-size: 15px;
}
.para:hover {
  font-weight: bold;
}
.para .link {
  text-decoration: none;
  color: #21502c;
}

.modal-content {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: 300px;
  width: 45%;
  border-radius: 10px;
}

.modal-request {
  background-color: white;
  border-radius: 10px;
  width: 60%;
}

/* Add this CSS to hide the mobile menu on desktop */
@media (min-width: 769px) {
  .navbar-mobile {
    display: none;
  }
  .toggle-menu-button {
    display: none;
  }
}

@media (max-width: 768px) {
  /* Show the menu icon on mobile */
  .toggle-menu-button {
    display: block;
    font-size: 24px;
    background: #f5f5f5;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.2);
    border: none;
    cursor: pointer;
    position: absolute;
    color: #000;
    right: 20px;
    top: 25px;
  }

  /* Hide the mobile menu items by default on mobile */
  .menu-mobile-main-menu {
    display: none;
    margin-top: 55px;
    color: #21502c;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 0;
    position: relative;
    left: 55px;
    width: 150%;
    font-size: 16px;
  }

  /* Update the style for the menu items */
  .menu-mobile-main-menu li {
    list-style-type: none;
    border-bottom: 1px solid #21502c;
    padding-right: 70px;
    padding-left: 10px;
    padding-top: 10px;
  }

  .menu-mobile-main-menu .link {
    color: #21502c;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
  }

  .menu-mobile-main-menu .link:hover {
    color: green;
    font-weight: bold;
  }

  /* Show the mobile menu when active */
  .show-menu .menu-mobile-main-menu {
    display: block;
  }
  .list-item {
    background-color: #007bff;
    visibility: hidden;
  }
  .nav {
    display: none;
  }
  .top-bar {
    padding: 0px;
  }
  .logo {
    margin-top: 20px;
    margin-left: 10px;
  }
}

/* End of NavBar */

/* All request pages */
.initiator {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow */
  width: 300px;
}

.card h2 {
  margin-top: 0;
}

.view-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-button:hover {
  background-color: #0056b3;
}
