.single-request-container {
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-left: 110px;
  width: 80%;
}

.request-head {
  text-align: center;
  margin-bottom: 20px;
}

.request-title {
  font-size: 1.5rem;
}

.request-head h1 {
  color: #2e8b57;
}

.request-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #2e8b57;
  padding: 20px;
}

.client {
  margin-left: 20px;
  padding: 5px;
}

.comment-list {
  border: 1px solid #2e8b57;
  width: 50%;
  padding-left: 20px;
  padding-bottom: 20px;
}

.initiator-d {
  margin-left: 300px;
}
.main-stages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stage-one {
  display: block;
  border: 1px solid #2e8b57;
}

.stages {
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.stages .detail {
  margin-right: 30px;
}
.detail {
  margin: 5px 0;
}

.comment {
  padding: 20px;
  margin-bottom: 20px;
}

.comment-form {
  display: block;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.comment-input input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.comment-btn {
  padding: 5px 10px;
  background-color: #fff;
  color: #2e8b57;
  border: 1px solid #2e8b57;
  border-radius: 3px;
  cursor: pointer;
}

.action-button {
  font-weight: bold;
  padding: 10px 20px;
  background-color: #2e8b57;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
