@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap");

.forgotpass_page * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.forgotpass_container {
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -3rem;
  height: 100vh;
  width: 100vw;
  background: rgb(108, 228, 120);
  background: linear-gradient(
    143deg,
    rgba(108, 228, 120, 1) 0%,
    rgba(255, 255, 255, 1) 21%,
    rgba(206, 250, 229, 1) 76%,
    rgba(206, 250, 229, 1) 92%,
    rgba(255, 255, 255, 1) 94%,
    rgba(108, 228, 120, 1) 100%
  );
}

.logo_container {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.logo_container img {
  width: 120px;
}
.center {
  width: 30%;
  margin: auto;
  margin-top: 8rem;
  padding: 30px 20px 20px 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.center label {
  display: block;
  margin-bottom: 10px;
}

.center h4 {
  font-size: 26px;
  margin-bottom: 2rem;
  text-align: center;
}

.center input {
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 0.8rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.center .btn {
  background-color: #50a93b;
  color: #fff;
  border: none;
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.center .btn:hover {
  background-color: #4b9e38;
}

.center a {
  text-decoration: none;
}
